<div class="landing-background">
  <div class="landing-container">
    <div class="landing-item landing-text">
      <p class="mat-body-strong">As season 8 of the hit HBO series "Game of Thrones" approaches, we must prepare ourselves for the reunions to come. Season 7 concluded with many of our heroes either at the northern castle of Winterfell, or en route to Winterfell to aid in the inevitable war against the Army of the Dead. Some characters will be reuniting after a long separation.  Some will be seeing eachother again having to deal with the consequences of events that took place in their absence.  Some will be meeting for the first time and have to face the tragedies that bind them. This app will serve as a reference for the relationships these characters have with one another.  To get started, follow the link below and choose your characters to reveal what awaits their reunion.</p>
    </div>
    <div class="landing-item landing-btn">
      <button mat-raised-button color="primary" routerLink="/select">AND NOW IT BEGINS</button>
    </div>
  </div>
</div>
