<div class="charSelect">
  <h2 class="mat-display-2">Select Your Character</h2>
  <p class="mat-body">Choose one of the main characters currently at Winterfell</p>
<!-- selection modules -->
  <div class="selectModules">
    <mat-form-field color="primary">
      <mat-select color="primary" (valueChange)="onChange($e)" placeholder="at Winterfell..." [(value)]="char1">
        <mat-option value="sansa">Sansa Stark</mat-option>
        <mat-option value="arya">Arya Stark</mat-option>
        <mat-option value="bran">Bran Stark</mat-option>
        <mat-option value="sam">Samwell Tarly</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button id="nextBtn" color="primary" [disabled]="!buttonDisabled" mat-raised-button routerLink="/{{char1}}">NEXT</button>
</div>