@import 'custom-theme';

body {
    background-image: url("assets/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  @media only screen and (max-width: 768px) {
    body {
      background-image: url("assets/images/backgroundsml.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
}